<p-table [value]="inboundEmails" styleClass="p-datatable-lg" selectionMode="single" [(selection)]="selectedEmail" [scrollable]="true" 
    (onRowSelect)="onRowSelect($event)" dataKey="id" scrollHeight="95vh" [resizableColumns]="true" [autoLayout]="true"> 
    <ng-template pTemplate="body" let-inboundEmail>
        <tr [pSelectableRow]="inboundEmail">
            <td >{{inboundEmail.fromName}}<br>{{inboundEmail.subject}}</td>
            <td class="text-right">{{inboundEmail.date | date: 'M/d h:mm a'}}</td>
        </tr>
    </ng-template>
</p-table>