<!-- <p>email-list works!</p>
<p-table [value]="inboundEmails" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>To</th>
            <th>From</th>
            <th>CC</th>
            <th>Body</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-inboundEmail>
        <tr>
            <td>{{inboundEmail.to}}</td>
            <td>{{inboundEmail.from}}</td>
            <td>{{inboundEmail.cc}}</td>
            <td>{{inboundEmail.body}}</td>
        </tr>
    </ng-template>
</p-table> -->